<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SOSPets - Ajudando na Busca de Animais Desaparecidos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SOS Pets", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Lista de Animais", "AnimaisLista", "Home")</li>
                    @*<li>@Html.ActionLink("Espécies", "AnimaisCategorias", "Home")</li>*@
                    @if (Session["UserName"] == null)
                    {
                        <li>@Html.ActionLink("Criar Conta", "CriarConta", "Home")</li>
                        <li>@Html.ActionLink("Acessar Conta", "AcessarConta", "Home")</li>
                    }
                </ul>
                @if (Session["UserName"] != null)
                {
                    <div class="btn-group dropdown-menu-header mobile-header-icons show" style="float:right">
                        <div type="button" class="navbar-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <div class="navbar-nav">
                                <div class="nav-item mx-auto mobile-header-icons my-2">
                                    <i class="nav-item mx-auto"></i> @string.Format("Olá, {0}", Session["UserName"])<span class="caret dropdown-toggle"></span>
                                    <h6 hidden="" id="user-logged-id">@Session["UserID"]</h6>
                                </div>
                            </div>
                        </div>
                        <ul class="dropdown-menu" id="drop-menu-account">
                            <li><a href="/Customer/AlterarSenha">Alterar Senha</a></li>
                            <li><a href="/Customer/EditarConta">Editar Cadastro</a></li>
                            <li><a href="/Anuncios/MeusAnuncios">Meus Anúncios</a></li>
                            <li><a href="/Customer/Logout">Sair</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="width:100%;">
            <p>&copy; @DateTime.Now.Year - SOSPets</p>
            <div style="background-color: lightgreen;">
                <div class="container-fluid container-main">
                    <div class="row py-3" style="text-align:center;">
                        <div class="col-md-4 link-footer" style="padding:5px 0 5px 0;">
                            <a class="" style="color: floralwhite;" href="/Static/AboutUs">Quem somos</a>
                        </div>
                        <div class="col-md-4 link-footer" style="padding:5px 0 5px 0;">
                            <a class="" style="color: floralwhite;" href="/Static/Faq">FAQ</a>
                        </div>
                        <div class="col-md-4 link-footer" style="padding:5px 0 5px 0;">
                            <a class="" style="color: floralwhite;" href="/Static/Contact">Contato</a>
                        </div>

                        
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
