@using SOSPets.DBAcess;
@using System.Globalization;

@{
    var ci = ViewBag.cultureInfo;
}

<head>
    <style>

        .thumbnail {
            border-radius: 3px;
            border-color: black;
        }

        .animal-desaparecimento-info {
        }

        .label {
        }

        .big-label {
            font-size: 15px;
            padding: 10px 15px;
            display: block;
            width: 100%;
        }

        .edit-label {
            margin-top: 3px;
            color: #fff;
            background-color: blue;
            border-color: #ccc;
        }

        .disabled-edit-label {
            margin-top: 3px;
            color: #fff;
            background-color: cornflowerblue;
            border-color: #ccc;
            pointer-events: none;
            cursor: default;
        }

        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

                .pagination a.active {
                    background-color: #4CAF50;
                    color: white;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                    border-radius: 5px;
                }
    </style>
</head>

<body>

    @if (((List<vwAnimalList>)ViewBag.ListAnimal).Count > 0)
    {
        var total = ViewBag.TotalRecord;
        var limit = ViewBag.LimitRecord;
        var index = (ViewBag.IndexPage / limit);

        <center>
            <div class="pagination">

                @if (total <= limit)
                {
                    <a href="#">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">&raquo;</a>
                }
                else
                {
                    <a href="#" class="page-arrow-navegator" data-navegator="previous">&laquo;</a>

                    for (int i = 1; (i * limit) < (total + limit); i++)
                    {
                        if (i == (index + 1))
                        {
                            <a href="#" class="active active-page" current-page="@i">@i</a>
                        }
                        else
                        {
                            <a href="#" class="page-navegator" data-page="@i">@i</a>
                        }
                    }

                    <a href="#" class="page-arrow-navegator" data-navegator="next">&raquo;</a>

                }
            </div>
        </center>
    }



    <div class="row" id="leilao-lista-lote" index="@ViewBag.IndexPage" total="@ViewBag.TotalRecord" limit="@ViewBag.LimitRecord">
        @if (((List<vwAnimalList>)ViewBag.ListAnimal).Count == 0)
        {
            <div>Nenhum Animal encontrado</div>
        }

        @foreach (var itemAnimal in (List<vwAnimalList>)ViewBag.ListAnimal)
        {
            var url_animal = string.Format("/Anuncios/AnuncioAnimal?slug={0}", itemAnimal.FriendlyUrl);
            //var url_external = string.Empty;
            //Caso seja Lote de outro leiloeiro envia para o link do site do imovel

            //if (!string.IsNullOrEmpty(itemLote.Url)) { url_lote = "javascript:"; }

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail thumbnail-vitrine-lot item-bid pt">
                    <a href="@url_animal" class="item-photo" style="text-decoration:none;">
                        <div class="header-card">
                            <center>
                                <span class="animal-desaparecimento-info"><i class="fa fa-calendar" aria-hidden="true"></i>Desaparecido desde: @Convert.ToDateTime(itemAnimal.DtDesaparecimento).ToString("dd/MM/yyyy à\\s HH\\:mm")</span>
                            </center>
                        </div>
                        <div class="photo-animal">
                            @if (string.IsNullOrEmpty(itemAnimal.FotoUrl))
                            {
                                <img src="@ViewBag.FotoAnimalPath/semImagem.png" alt="@itemAnimal.NomeAnimal" />
                            }
                            else
                            {
                                <img src="@ViewBag.FotoAnimalPath/@itemAnimal.FotoUrl" alt="@itemAnimal.NomeAnimal" />
                            }
                        </div>
                        <div class="photo-text">
                            <span style="color:black;">@itemAnimal.Descricao</span>
                        </div>
                    </a>
                    <div class="lot-info">
                        <div>
                            <span>@itemAnimal.NomeAnimal (@itemAnimal.CategoriaAnimal)</span>
                        </div>
                        <div class="">

                            <div class="row price-leiloes" style="margin-top:20px!important;">
                                <div class="col-xl-12">
                                    <center>
                                        <span class="animal-dono-contato">Local: @string.Format("({0}) - {1}", itemAnimal.UF, itemAnimal.Cidade)</span> <br />
                                        <span class="animal-dono-contato">Dono: @itemAnimal.NomeDono</span> <br />
                                        <span class="animal-dono-contato">Contato Dono: @itemAnimal.Whatsapp</span>
                                    </center>
                                </div>
                            </div>

                        </div>
                        <div class="status_animal">
                            @if (itemAnimal.SituacaoAnimal == "Encontrado")
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="22px" class="h-5 w-5 @itemAnimal.StatusAnimal" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                </svg> @itemAnimal.SituacaoAnimal
                            }
                            else
                            {
                                if (itemAnimal.SituacaoAnimal == "Anúncio Retirado")
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="22px" class="h-5 w-5 @itemAnimal.StatusAnimal" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                    </svg> @itemAnimal.SituacaoAnimal
                                }
                                else
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="22px" class="h-5 w-5 @itemAnimal.StatusAnimal" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M5.05 3.636a1 1 0 010 1.414 7 7 0 000 9.9 1 1 0 11-1.414 1.414 9 9 0 010-12.728 1 1 0 011.414 0zm9.9 0a1 1 0 011.414 0 9 9 0 010 12.728 1 1 0 11-1.414-1.414 7 7 0 000-9.9 1 1 0 010-1.414zM7.879 6.464a1 1 0 010 1.414 3 3 0 000 4.243 1 1 0 11-1.415 1.414 5 5 0 010-7.07 1 1 0 011.415 0zm4.242 0a1 1 0 011.415 0 5 5 0 010 7.072 1 1 0 01-1.415-1.415 3 3 0 000-4.242 1 1 0 010-1.415zM10 9a1 1 0 011 1v.01a1 1 0 11-2 0V10a1 1 0 011-1z" clip-rule="evenodd" />
                                    </svg> @itemAnimal.SituacaoAnimal
                                }
                            }
                        </div>

                        @if (ViewBag.UsuarioID != 0)
                        {
                            if (itemAnimal.SituacaoAnimal == "Anúncio Ativo")
                            {
                                <a href="/Home/AnimalDetalhe/?animalID=@itemAnimal.AnimalID" class="label big-label edit-label">
                                    Editar o Anúncio
                                </a>
                            }
                            else
                            {
                                <a href="/Home/AnimalDetalhe/?animalID=@itemAnimal.AnimalID" class="label big-label disabled-edit-label">
                                    Somente Visualização
                                </a>
                            }

                        }
                    </div>

                </div>

            </div>


        }
    </div>

</body>