@using SOSPets.DBAcess;
@using System.Globalization;

@{
    var ci = ViewBag.cultureInfo;
}

<head>
    <style>

        .animal-desaparecimento-info {
            color: red;
        }

        .label {
        }

        .big-label {
            font-size: 15px;
            padding: 10px 15px;
            display: block;
            width: 100%;
        }

        .edit-label {
            margin-top: 3px;
            color: #fff;
            background-color: blue;
            border-color: #ccc;
        }

        .status-grey {
            color: #fff;
            background-color: lightgrey;
            border-color: #ccc;
        }

        .status-red {
            color: #fff;
            background-color: red;
            border-color: #ccc;
        }

        .status-green {
            color: #fff;
            background-color: green;
            border-color: #ccc;
        }

        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

                .pagination a.active {
                    background-color: #4CAF50;
                    color: white;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                    border-radius: 5px;
                }
    </style>
</head>

<body>

    @if (((List<vwAnimalList>)ViewBag.ListAnimal).Count > 0)
    {
        var total = ViewBag.TotalRecord;
        var limit = ViewBag.LimitRecord;
        var index = (ViewBag.IndexPage / limit);

        <center>
            <div class="pagination">

                @if (total <= limit)
                {
                    <a href="#">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">&raquo;</a>
                }
                else
                {
                    <a href="#" class="page-arrow-navegator" data-navegator="previous">&laquo;</a>

                    for (int i = 1; (i * limit) < (total + limit); i++)
                    {
                        if (i == (index + 1))
                        {
                            <a href="#" class="active active-page" current-page="@i">@i</a>
                        }
                        else
                        {
                            <a href="#" class="page-navegator" data-page="@i">@i</a>
                        }
                    }

                    <a href="#" class="page-arrow-navegator" data-navegator="next">&raquo;</a>

                }
            </div>
        </center>
    }



    <div class="row" id="leilao-lista-lote" index="@ViewBag.IndexPage" total="@ViewBag.TotalRecord" limit="@ViewBag.LimitRecord">
        @if (((List<vwAnimalList>)ViewBag.ListAnimal).Count == 0)
        {
            <div>Nenhum Animal encontrado</div>
        }

        @foreach (var itemAnimal in (List<vwAnimalList>)ViewBag.ListAnimal)
        {
            var url_animal = string.Format("/Anuncios/AnuncioAnimal?slug={0}", itemAnimal.FriendlyUrl);
            //var url_external = string.Empty;
            //Caso seja Lote de outro leiloeiro envia para o link do site do imovel

            //if (!string.IsNullOrEmpty(itemLote.Url)) { url_lote = "javascript:"; }

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail thumbnail-vitrine-lot item-bid pt">
                    <a href="@url_animal" class="item-photo" style="text-decoration:none;">
                        <div class="header-card">
                            <center>
                                <span class="animal-desaparecimento-info"><i class="fa fa-calendar" aria-hidden="true"></i>Desaparecido desde: @Convert.ToDateTime(itemAnimal.DtDesaparecimento).ToString("dd/MM/yyyy à\\s HH\\:mm")</span>
                            </center>
                        </div>
                        <div class="photo-animal">
                            @if (string.IsNullOrEmpty(itemAnimal.FotoUrl))
                            {
                                <img src="@ViewBag.FotoAnimalPath/semImagem.png" alt="@itemAnimal.NomeAnimal" />
                            }
                            else
                            {
                                <img src="@ViewBag.FotoAnimalPath/@itemAnimal.FotoUrl" alt="@itemAnimal.NomeAnimal" />
                            }
                        </div>
                        <div class="photo-text">
                            <span>@itemAnimal.Descricao</span>
                        </div>
                    </a>
                    <div class="lot-info">
                        <div>
                            <span>@itemAnimal.NomeAnimal (@itemAnimal.CategoriaAnimal)</span>
                        </div>
                        <div class="">

                            <div class="row price-leiloes" style="margin-top:20px!important;">
                                <div class="col-xl-12">
                                    <center>
                                        <span class="animal-dono-contato">Local: @string.Format("({0}) - {1}", itemAnimal.UF, itemAnimal.Cidade)</span> <br />
                                        <span class="animal-dono-contato">Dono: @itemAnimal.NomeDono</span> <br />
                                        <span class="animal-dono-contato">Contato Dono: @itemAnimal.Whatsapp</span>
                                    </center>
                                </div>
                            </div>

                        </div>
                        <a href="@url_animal" class="label big-label @itemAnimal.StatusAnimal">
                            @itemAnimal.SituacaoAnimal
                        </a>

                        @if (ViewBag.UsuarioID != 0)
                        {
                            <a href="/Home/AnimalDetalhe/?animalID=@itemAnimal.AnimalID" class="label big-label edit-label">
                                Editar o Anúncio
                            </a>
                        }
                    </div>

                </div>

            </div>


        }
    </div>
    <br />
    <br />

</body>