@using SOSPets.DBAcess;
@using System.Globalization;

@{
    var ci = ViewBag.cultureInfo;
}
<div class="row" id="leilao-lista-lote" index="@ViewBag.IndexPage" total="@ViewBag.TotalRecord" limit="@ViewBag.LimitRecord">
    @if (((List<vwAnimalList>)ViewBag.ListAnimal).Count == 0)
    {
        <div>Nenhum Animal encontrado</div>
    }

    @foreach (var itemAnimal in (List<vwAnimalList>)ViewBag.ListAnimal)
    {
        var url_animal = string.Format("/Anuncios/AnuncioAnimal?slug={0}", itemAnimal.FriendlyUrl);
        //var url_external = string.Empty;
        //Caso seja Lote de outro leiloeiro envia para o link do site do imovel

        //if (!string.IsNullOrEmpty(itemLote.Url)) { url_lote = "javascript:"; }

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail thumbnail-vitrine-lot item-bid pt">
                <a href="@url_animal" class="item-photo">
                    <div class="header-card">
                        <span><i class="fa fa-calendar" aria-hidden="true"></i> @Convert.ToDateTime(itemAnimal.DtDesaparecimento).ToString("ddd, dd/MM/yyyy à\\s HH\\:mm")</span>
                    </div>
                    <div class="photo-animal">
                        @if (string.IsNullOrEmpty(itemAnimal.FotoUrl))
                        {
                            <img src="@ViewBag.FotoAnimalPath/semImagem.png" alt="@itemAnimal.NomeAnimal" />
                        }
                        else
                        {
                            <img src="@ViewBag.FotoAnimalPath/@itemAnimal.FotoUrl" alt="@itemAnimal.NomeAnimal" />
                        }
                    </div>
                    <div class="photo-text">
                        <span>@itemAnimal.Descricao</span>
                    </div>
                </a>
                <div class="lot-info">
                    <div>                      
                        <span>@itemAnimal.NomeAnimal (@itemAnimal.CategoriaAnimal)</span>
                    </div>
                    <div class="">

                            <div class="row price-leiloes" style="margin-top:20px!important;">
                                <div class="col-xl-12">
                                    <center>
                                        <span class="animal-dono-contato">Contato Dono: @itemAnimal.Whatsapp</span>
                                    </center>
                                </div>
                            </div>
                        
                    </div>
                    <a href="@url_animal" class="label-md @itemAnimal.StatusAnimal">
                        @itemAnimal.SituacaoAnimal
                    </a>
                </div>

            </div>

        </div>


    }
</div>
<br />
<br />